services:
  api:
    build: .
    container_name: multimedia-api
    ports:
      - "8000:80"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '6.0' # Máximo 600%
          memory: 6G # Límite de memoria
        reservations:
          cpus: '0.1'
          memory: 128M
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
